.music-controller-container {
  display: flex;
  flex-direction: row;
  padding: 15px;
  background-image: url('http://eskipaper.com/images/dark-background-9.jpg');
  align-items: center;
}

.play-item-thumbnail {
  height: 90px;
  width: 120px;
  flex-grow: 0;
}

.control-container {
  flex-grow: 1;
  margin-left: 10px;
}

.music-title {
  color: white;
  font-size: x-large;
}

.music-button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;

  mat-icon {
    width: 48px;
    height: 48px;
  }
  button {
    width: 48px;
    height: 48px;
    margin-left: 30px;
  }
  button:first-child {
    margin-left: 0;
  }
}

.volume-title {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  color: white;
}

.volume-button-container {
  display: flex;
  justify-content: center;

  mat-icon {
    width: 30px;
    height: 30px;
  }
  button {
    width: 30px;
    height: 30px;
    margin-left: 30px;
  }
  button:first-child {
    margin-left: 0;
  }
}
