<div class="music-controller-container">
  <div *ngIf="(playItem | async) || {}; let play">
    <img class="play-item-thumbnail" src={{play.thumbnail}} />
  </div>
  <div class="control-container">
    <marquee class="music-title">{{(playItem | async)?.title}}</marquee>
    <div class="music-button-container">
      <button mat-icon-button color="primary" (click)="onBack()">
        <mat-icon aria-label="上一首" svgIcon="back"></mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="onPlay()">
        <mat-icon aria-label="播放" svgIcon="{{playButtonIcon | async}}"></mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="onNext()">
        <mat-icon aria-label="下一首" svgIcon="next"></mat-icon>
      </button>
    </div>
    <div class="volume-title">Volume: {{volume | async}}</div>
    <div class="volume-button-container">
      <button mat-icon-button color="primary" (click)="onMinus()">
        <mat-icon aria-label="小聲" svgIcon="minus"></mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="onMute()">
        <mat-icon aria-label="靜音" svgIcon="volume"></mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="onPlus()">
        <mat-icon aria-label="大聲" svgIcon="plus"></mat-icon>
      </button>
    </div>
  </div>
</div>
