@import "../../variables.scss";

.play-item-container {
  cursor: pointer;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.play-item-container:hover {
  opacity: 0.7;
}

.play-item-container-light {
  @extend .play-item-container;
  background: white;
  color: $dark;
}

.play-item-container-dark {
  @extend .play-item-container;
  background: $dark;
  color: white;
}

.play-item-thumbnail {
  flex-grow: 0;
  min-height: 90px;
  padding: 10px;
}

.no-wrap-container {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.play-item-title {
  @extend .no-wrap-container;
  font-size: x-large;
  font-weight: bold;
}

.play-item-author {
  color: $red;
  margin-top: 10px;
}

.play-item-description {
  @extend .no-wrap-container;
  color: $gray;
  margin-top: 10px;
  font-size: small;
  padding-right: 5px;
}

.img-circle {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.img-container {
  display: flex;
  flex-grow: 0;
  margin: 10px;
  justify-content: flex-end;
}
