@import "app-theme";
@import "./variables.scss";

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $red;
}

.light-gray {
  background: $light-gray;
}

.white {
  background: white;
}
